if SHIELD_ZENITH_LEFT

config ZMK_KEYBOARD_NAME
    default "Zenith"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ZENITH_LEFT || SHIELD_ZENITH_RIGHT

config ZMK_SPLIT
    default y

endif
